.train-detail{
    height:70vh;
    width:100%;
    overflow-x: hidden;
}
.train-image{
    height:100%;
    width: 100%;;
    object-fit: fill;
        overflow-x: hidden;
}
.train-div{
    display: flex;
    color:rgb(255, 255, 255);
    font-weight: bolder;
 font-size: clamp(2rem, 100vw, 4rem); 
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    height:70%;
    width: 100%;
    z-index: 1;
 background: linear-gradient(170deg, rgba(156, 154, 14, 0.523) 14%, rgba(18, 74, 91, 0.162) 40%, rgba(0, 255, 94, 0.396) 100%); 
         overflow-x: hidden;
}
.train-list{
    height:108vh;
    width:100%;
    margin-top: 0;
    background-image: url('track.jpg');
    background-size: cover;
}
 .trains{
    height:100%;
    width:100%;
    z-index:2;
     background-color: rgba(0, 0, 0, 0.55); 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 
.trainlist-div{
    background: linear-gradient(170deg, rgba(194, 12, 12, 0.719) 14%, rgba(223, 91, 3, 0.714) 62%, rgba(0, 255, 94, 0.686) 100%);
  
    margin: 20px 15px 15px 15px;
    font-size: medium;
    height:48vh;
    width:17vw; 
    color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-evenly;    
}
.name{
    font-size: medium;
    text-align: center;
    font-weight: bold;
}
.number{
    text-align: center;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    margin-bottom: 11px;
    font-size: small;
    font-weight: bold;
}
.book-button{
    padding:8px 8px 8px 8px;
    border-radius: 8px;
     background-color: rgba(2, 97, 251, 0.853);
    color:white;
    position: relative;
    bottom:0;
}

.book-button:hover{
    background-color: rgba(7, 73, 121, 0.895);
}
.location{
    display: flex;
    justify-content: space-between;
    margin-top:4px;
    margin-bottom: 4px;

    margin-top: 9px;
    margin-bottom: 9px;
}
.price{
    text-align: center;

    margin-top: 9px;
    margin-bottom: 9px;
}
.book{
    display: flex;
    justify-content: center;
}
.duration{
    text-align: center;

    margin-top: 9px;
    margin-bottom: 9px;
}