.sample {
    /* background: rgb(11, 36, 0);
    background: linear-gradient(186deg, rgba(11, 36, 0, 1) 0%, rgba(3, 170, 223, 1) 47%, rgba(0, 255, 93, 1) 100%); */
    background-image: url(camping.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:104vh;
}

.so {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2px 2px 8px 2px;
    position: absolute;
    top:120px;
    width:50vw;
    height:60vh;
    border-radius: 10px;
    background:linear-gradient(180deg, rgba(255, 102, 0, 0.682) 14%, rgba(255, 255, 255, 0.41) 50%, rgba(0, 255, 94, 0.78) 100%); 
}
@media screen and (max-width: 1024px) {
    .so{
        min-height: 70%;
    }
    .submitting{
        margin-top: 100px;
    }
}
.submitting{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}
.top{
    margin-bottom: 10px;
    display: flex;
    height:80px;
    width: 42vw;
    justify-content: space-between;
}
.middle{
    margin-top: 80px;
    display: flex;
    height:80px;
    width: 100%;    
    justify-content: space-between;
     margin-bottom: 10px;
     padding: none;
   
}